nltk
scipy
joblib
scikit-learn
pandas
fuzzywuzzy
numpy
yagmail
python-dotenv
flask
spacy
es-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.7.0/es_core_news_sm-3.7.0-py3-none-any.whl#sha256=61e6e5530941f5880166855f09f60d7e6ba79ec1e8e45f96244bdb1eb169eb1d
gunicorn
xgboost