{% extends 'Index.html' %}

{% block content %}
<section id="work" class="container mx-auto py-16 px-6">
  <div class="flex flex-wrap items-center justify-between">
    <!-- Texto descriptivo -->
    <div class="w-full md:w-6/12 lg:w-6/12 px-4">
      <h3 class="text-4xl md:text-5xl font-extrabold mb-6 text-gray-900 leading-snug">
        ¿Cómo puede ayudarte este modelo?
      </h3>
      <p class="text-lg md:text-xl font-light text-gray-600 mb-6">
        Nuestro modelo de inteligencia artificial está diseñado para comprender tus características físicas, el evento al que asistirás y tu personalidad, ofreciendo recomendaciones personalizadas de productos que se adapten a ti.
      </p>
      <p class="text-lg md:text-xl font-light text-gray-600 mb-6">
        Gracias a algoritmos avanzados, este modelo no solo mejora tu experiencia de compra, sino que también te brinda opciones únicas y adaptadas a tus preferencias y necesidades.
      </p>
      <p class="text-lg md:text-xl font-light text-gray-600 mb-6">
        Al adoptar un enfoque innovador, te ayudamos a explorar nuevas oportunidades y a tomar decisiones más informadas sobre qué usar en cada ocasión.
      </p>

    </div>

    <!-- Imagen destacada -->
    <div class="w-full md:w-5/12 lg:w-5/12 px-4 mt-10 md:mt-0">
      <div class="shadow-xl rounded-lg overflow-hidden transform hover:scale-105 transition duration-300 ease-in-out">
        <img
          src="https://w0.peakpx.com/wallpaper/737/751/HD-wallpaper-ai-abstract-artificial-inteligence-blue-brain-crack-iphone-modern-patterns-samsung.jpg"
          alt="Modelo de IA"
          class="w-full h-auto object-cover"
        />
      </div>
    </div>
  </div>
</section>
{% endblock %}
