{% extends 'Index.html' %}

{% block content %}
<section class="relative block bg-gradient-to-b from-gray-800 to-gray-900 text-white min-h-screen flex items-center">
  <div class="container mx-auto w-full md:w-2/3 lg:w-1/2 px-4 lg:py-16">
    <!-- Título y descripción -->
    <div class="text-center mb-8">
      <h2 class="text-5xl font-extrabold tracking-wide uppercase">¡Pruébalo!</h2>
      <p class="text-lg mt-4 text-gray-300">
        Dime cómo eres físicamente, tu personalidad y a dónde vas.
      </p>
    </div>

    <!-- Contenedor de entrada y resultados -->
    <div class=" bg-opacity-50 p-6 rounded-lg shadow-lg space-y-6">
      <!-- Entrada de consulta -->
      <div>
        <input
          type="text"
          class="w-full p-3 rounded-lg text-gray-900 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500"
          placeholder="Ingrese su consulta"
          aria-label="Consulta"
          id="name"
          value="Soy una mujer alta, de ojos verdes, cabello largo, soy delgada y de piel blanca, mi cuello es corto y me considero una mujer segura de mí misma, asistiré a una boda"
        />
      </div>

      <!-- Botón de enviar -->
      <div class="text-center">
        <button
          class="bg-blue-600 hover:bg-blue-700 text-white py-2 px-6 rounded-lg shadow-lg font-semibold uppercase tracking-wide transition-transform transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-blue-500"
          id="toggle-suggestions"
        >
          Enviar
        </button>
      </div>

      <!-- Spinner de carga -->
      <div id="spinner" class="hidden flex justify-center items-center">
        <div class="loader ease-linear rounded-full border-4 border-t-4 border-gray-300 h-12 w-12 animate-spin"></div>
      </div>

      <!-- Contenedor de sugerencias -->
      <div id="sugerencias" class="hidden">
        <div
          id="recommended-images"
          class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4"
        >
          <!-- Las imágenes se cargarán aquí dinámicamente -->
        </div>

        <!-- Paginación -->
        <nav aria-label="Paginación de imágenes" class="mt-6">
          <ul id="paginacion" class="flex justify-center space-x-2">
            <!-- Botones de paginación generados dinámicamente -->
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>



<!-- Modal -->
<div id="productModal" class=" fixed inset-0   flex items-center justify-center hidden">

</div>


<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
